* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body {
    background-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.Bar {
    background:linear-gradient(#3a3a3a, #2f2f2f);
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
}

.Logo {
    color: white;
    font-size: 48px;
    font-weight: noraml;
}

.navigation {
    background: linear-gradient(#bfbfbf, #9d9d9d);
    border-radius: 50px;
    padding: 16px 30px;
    display: flex;
    gap: 40px;
}

.navigation a{
    text-decoration: none;
    color: white;
    font-size: 22px;
    font-weight: 500;
}

.navigation a:hover {
    text-decoration: underline;
}

.Vid_and_Img {
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden;
}

.AirbusOver {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.AirbusText {
    position: absolute;
    width: 1500px;
    height: auto;
    bottom: 100px;
    right: center;
    z-index: 2;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
}

.BoeingOver {
    position: absolute;
    inset: 0;
    width: 70%;
    left: 100px;
    bottom: 10px;
    height: auto;
    object-fit: cover;
    z-index: 1;
}

.BoeingText {
    position: absolute;
    width: 1500px;
    height: auto;
    bottom: 100px;
    right: center;
    z-index: 2;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
}

.HPWOver {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.HPWText {
    position: absolute;
    width: 1500px;
    height: auto;
    bottom: 100px;
    right: center;
    z-index: 2;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
}

